* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Styles */

body {
	background: #FFFFFF;
}

/*input.ng-dirty.ng-invalid {
	border: 1px solid red;
}*/

.object {
  padding: 15px 15px 15px;
  width: 100%;
  position: relative;
}

.start {
  padding: 0px 15px 15px !important;
}

.tag-input {
  background-color: #fff;
  font-size: 25px;
  /*padding: 40px 30px 30px;*/
  width: 100%;
  border: 1px solid #ff993f;
  color: #777;

  font-family: 'Signika', sans-serif;
  font-weight: 400;
  padding-left: 30px;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline:none;
  background-image: none;

}

.btn {
  font-family: 'Signika', sans-serif;
  color: #fff;
  background-color: #ff993f;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -.2px;
  border: none;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.img-container {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  /*height: 330px;*/
  /*overflow: hidden;*/
}

.img-container img{
  width: 100%;
  /*height: 100%;*/
  /*overflow: hidden;*/
}

.photo {
  position: fixed;
  bottom: 0px;
}

.msg {
  font-family: 'Signika', sans-serif;
  font-size: 15px;
  /*padding-bottom: 25px;*/
  text-align: center;
  background-color: rgba(0,0,0,0.6);

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 88%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.show-photo-sent{
  opacity: 1;
  transition: opacity 0.5s ease .5s;
}

.msg p {

  color: #fff;
  font-size: 15px; 
  padding: 8px;
}

.recent {
  padding: 0px 15px;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.recent h2 {
  font-weight: 25px;
  color: #555;
  font-weight: 300;
}

.recent p {
margin-top: 15px;
color: #ff993f;
}
.hash {
  font-family: 'Signika', sans-serif;
  font-size: 25px;
  color: #ff993f;
  position: absolute;
  top: 10px;
  left: 10px;
}

.wall-name {
  position: relative;
}

.messages {
  padding: 0px 15px 15px;
  font-size: 15px;
  font-weight: 400;
  color: #999;
}


.messages span{
  font-size: 15px;
  font-weight: 400;
  font-family: 'Signika', sans-serif;
}



.messages img{
  width: 30px;
  height: auto;
  float: left;
  margin-right: 15px;
}

.info {
  margin-bottom: 10px;
}

.pin a {
  color: #ff993f;
}










